<div class="system set-sibling-index">
  <p class="span-split set-sibling-index">SYSTEM</p>
  <p class="span-split set-sibling-index">SYSTEM</p>
  <p class="span-split set-sibling-index">SYSTEM</p>
  <p class="span-split set-sibling-index">SYSTEM</p>
  <p class="span-split set-sibling-index">SYSTEM</p>
  <p class="span-split set-sibling-index">SYSTEM</p>
</div>

<script>

</script>