.invisible-container{
    width: 100dvw;
    height: 100dvh;
    position: relative;

    .invisible-title {
        font-family: Inter;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        color: var(--color-background);
        font-size: clamp(1rem, 20vw, 12em);
        text-wrap: nowrap;
        display: block;
        place-items: center;
        pointer-events: none;
    }

    span {
        margin: 1em;
    }

    div {
        width: 101%;
        height: 101%;
        display: grid;
        place-items: center;
        overflow: hidden;
    }
    p{
        font-family: 'Courier Prime', monospace;
        font-size: 1.75em;
        font-size: clamp(0.75em, 4vw, 1.75em);
        line-height: 0.75;
        /* overflow: hidden; */
        text-wrap: wrap;
        margin: 0;
        word-break: break-all;
        width: 100%;
        text-align: center;
    }

}

    @media (max-width: 800px) {
        .invisible-container{
            .invisible-title{
                /* transform: rotateZ(-90deg); */
                font-size: 9em;
                writing-mode: vertical-rl;
                width: fit-content;
            }
        }
    }