---
// link to the animation:
// src/components/Animation.astro

const { title } = Astro.props;
---

<!-- this is the animation section that  -->
<section class="animation-section">
    <h2 class="visually-hidden">Typographic animation of the word {title}</h2>
    <slot />
</section>