---
// link to the footer:
// src/components/Footer.astro

// define two variants for the footer
interface Props {
    variant?: 'index' | 'detail';
    title?: String
}

// define props to receive from other components
const { variant = 'home', title } = Astro.props;
---



<!-- ===================================== -->
<!-- MARK: Footer                          -->
<!-- ===================================== -->
<footer class={`footer footer-${variant}`}>
    <!-- ---------- Homepage Footer ---------- -->
    {variant === 'index' && (

        <div>
            <!-- Banner -->
            <div class="banner-container">
                <div class="banner-content" id="bannerContent" data-word="glossary">
                <!-- Populated by index.js -->
                </div>
            </div>
            <div class="footer-links">
                <p>MARJOLIJN RUIJG</p>
                <div class="footer-buttons">
                    <a href="/sub-pages/about" class="button-small">ABOUT</a>
                    <a href="/sub-pages/contact" class="button-small">CONTACT</a>
                </div>
            </div>
            <p class="footer-copyright">&copy; 2026 BUILT BY TEAM FONT-END.</p>
        </div>

    )}
    
    <!-- ---------- Detail Page Footer ---------- -->
    {variant === 'detail' && (

        <!-- Navigation between glossary items -->
        <div>
            <nav class="footer-nav">
                <a href="/placeholder">&larr; PLACEHOLDER</a>
                <a href="/">BACK TO GLOSSARY</a>
                <a href="/placeholder">PLACEHOLDER &rarr;</a>
            </nav>
                <div class="banner-container">
                    <div class="banner-content" id="bannerContent">
                    <!-- Populated by index.js -->
                    </div>
                </div>
                <div class="footer-links">
                    <p>MARJOLIJN RUIJG</p>
                    <div class="footer-buttons">
                        <a href="/sub-pages/about" class="button-small">ABOUT</a>
                        <a href="/sub-pages/contact" class="button-small">CONTACT</a>
                    </div>
                </div>
                <p class="footer-copyright">&copy; 2026 BUILT BY TEAM FONT-END.</p>
        </div>

    )}
</footer>
