---
import { createConsoleLogger } from 'astro/app';

// link to the header:
// src/components/Header.astro

// define two variants for the header
interface Props {
    variant?: 'one' | 'two';
    title?: String;
    slug?: String;
}

// define props to receive from other components
const { variant = 'one', title, slug } = Astro.props;

// Dynamically import the animation file based on slug
const animations = import.meta.glob('../pages/animations/*.astro', { eager: true });
const animationPath = `../pages/animations/${slug}.astro`;
console.log(animationPath)
const AnimationComponent = (animations[animationPath] as { default: any } | undefined)?.default;



---
<!-- here we define two different headers for the homepage and for the detail page -->
<header class={`header header-${variant}`}>
    <!-- this is the header for the homepage -->
    {variant === 'one' && (

        <h1>
            <span>(Inter)facing the Hybrid City</span>
            <span>Glossary</span>
        </h1>



    )}
    
    <!-- this is the header for the glossary item pagina -->
    {variant === 'two' && (


        <div class="animation-section">
            <h1 class="visually-hidden">{title}</h1>
            <div aria-hidden="true">
                {AnimationComponent ? <AnimationComponent /> : <p>Animation not found</p>}
            </div>
        </div>
        <nav>
            <h2>{title}</h2>
            <a class="button-big" href="/"><span aria-hidden="true">←</span> Glossary</a>
        </nav>

    )}
</header>