---
import { createConsoleLogger } from 'astro/app';

// link to the header:
// src/components/Header.astro

// define two variants for the header
interface Props {
    variant?: 'one' | 'two';
    title?: String;
    slug?: String;
}

// define props to receive from other components
const { variant = 'one', title, slug } = Astro.props;

// Dynamically import the animation file based on slug
const animations = import.meta.glob('../animations/*.astro', { eager: true });
const animationPath = `../animations/${slug}.astro`;
console.log(animationPath)
const AnimationComponent = (animations[animationPath] as { default: any } | undefined)?.default;



---
<!-- here we define two different headers for the homepage and for the detail page -->
<header class={`header header-${variant}`}>
    <!-- this is the header for the homepage -->
    {variant === 'one' && (

        <h1>
            <span>(Inter)facing the Hybrid City</span>
            <span>Glossary</span>
        </h1>



    )}
    
    <!-- this is the header for the glossary item pagina -->
    {variant === 'two' && (
        <>
        <nav class="header2-nav">
            <div>
                <a class="button-big hover-underline" href="/"><span aria-hidden="true">←</span> Glossary</a>
                <p>(Inter)facing the Hybrid City</p>
            </div>
            <div>
                <a href="/sub-pages/contact" class="hover-underline" >contact</a>
                <a href="/sub-pages/about" class="hover-underline" >about</a>
            </div>
        </nav>

        {AnimationComponent ? (
            <div class="animation-section">
                <h1 class="visually-hidden">{title}</h1>
                <div aria-hidden="true">
                    <AnimationComponent />
                </div>
            </div>
        ) : null}
        </>
    )}
</header>
<style>
    .header2-nav {
        background-color: var(--color-background);
        width: 100%;
        box-sizing: border-box;
        padding: 1em;
        font-family: inter;

        display: flex;
        justify-content: center;
        justify-content: space-between;
        }
    .header2-nav a {
        width: auto;
        /* text-decoration: none; */
        text-wrap: nowrap;
    }
    .header2-nav p {
        height: var(--font-button-big-size);
        padding: 0 1em;
        margin-right: 1em;
        display: flex;
        align-items: center;
        &::before {
            content: "";
            display: inline-block;
            background-color: var(--color-text);
            height: 90%;
            margin-right: 1em;
            border-right: solid 2px var(--color-text);
        }
    }
    .header2-nav div:nth-child(1){
        display: flex;
        align-items: center;
    }
    .header2-nav div:nth-child(2){
        display: flex;
        align-items: center;
        gap: 2em;
    }
    @media (max-width: 800px) {
        .header2-nav {
            flex-direction: column;
            gap: 1em;
            div:nth-child(2){
                width: auto;
                border-top: solid 2px var(--color-text);
                border-bottom: solid 2px var(--color-text);
                padding: 0.5em 0;
            }
            
        }
        @media (max-width: 600px) {
            p {
                font-size: 0.75em;
            }
        }
    }
</style>