---
// this is the example code for all glossary item detail pages


// import the components to reuse
import DetailLayout from "../../layout/DetailLayout.astro"

// add the slug of your file here
export const slug = "example-item";
// export the title
export const title = "Glossary Item";
// the category on which you can filter your item
export const category = "threshold";

---



<DetailLayout title={title} slug={slug}>

	<Animation>
		<!-- add your animation here -->
	</Animation>

	<!-- detail page content for the glossary item -->
	<p>detail page</p>
	
	<!-- link script -->
	<script src="/js/index.js" is:inline></script>
</DetailLayout>