---
// this is the example code for all glossary item detail pages

// import the components to reuse
import DetailLayout from "../../layout/DetailLayout.astro";

// export the title
export const title = "In-between";
// the category on which you can filter your item
export const category = "In-between";
---

<DetailLayout title={title}>
    <style>
        .animation-wrapper {
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: white;
        }

        svg {
            width: 800px;
            overflow: visible;
            background: white;
        }

        path {
            fill: black;
        }

        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }
    </style>

    <div class="animation-wrapper">
        <svg viewBox="0 0 800 200">
            <!-- START WORD -->
            <path
                id="word"
                transform="scale(0.5)"
                d="M46.7275 72.4346H47.8193L77.4844 0H94.5469V93.1816H81.1699V25.752H80.3057L52.8242 93.0449H41.7227L14.2412 25.707H13.377V93.1816H0V0H17.0625L46.7275 72.4346ZM191.243 93.1816H176.319L167.8 68.5215H131.393L122.858 93.1816H107.935L141.468 0H157.711L191.243 93.1816ZM135.486 56.6914H163.713L149.976 16.9258H149.248L135.486 56.6914Z"
            ></path>
        </svg>
    </div>

    <!-- TARGET WORD -->
    <path
        id="target"
        d="M26.9 57.1H55.9V64H26.9V57.1ZM26.4 42.1H60.4V79.4H26.4V72.2H51.5V49.3H26.4V42.1ZM22.4 42.1H31V84.5H22.4V42.1ZM4.7 14H31.3V20.7H4.7V14ZM51 14H77.9V20.7H51V14ZM74 0H83.6V76.9C83.6 79.6333 83.2333 81.7667 82.5 83.3C81.8333 84.9 80.6 86.1333 78.8 87C77 87.8 74.6667 88.2667 71.8 88.4C69 88.6 65.4667 88.7 61.2 88.7C61.1333 87.7667 60.9 86.7 60.5 85.5C60.1667 84.3667 59.8 83.2 59.4 82C59 80.8667 58.5667 79.8667 58.1 79C59.9667 79.1333 61.8333 79.2 63.7 79.2C65.5667 79.2 67.2 79.2 68.6 79.2C70.0667 79.2 71.1 79.2 71.7 79.2C72.5667 79.1333 73.1667 78.9333 73.5 78.6C73.8333 78.2667 74 77.6667 74 76.8V0ZM5.5 0H37.3V35.2H5.5V28.2H28.4V7H5.5V0ZM78.9 0V7H54.4V28.4H78.9V35.4H45.4V0H78.9ZM0 0H9.4V88.8H0V0Z"
        style="visibility:hidden"></path>
</DetailLayout>

<!-- detail page content for the glossary item -->
<p>detail page</p>

<!-- link script -->
<!-- <script src="/js/index.js" is:inline></script> -->

<!-- GSAP -->
<script src="https://cdn.jsdelivr.net/npm/gsap@3/dist/gsap.min.js" is:inline
></script>

<!-- MorphSVG Plugin -->
<script src="https://assets.codepen.io/16327/MorphSVGPlugin3.min.js" is:inline
></script>

<!-- codeee -->
<script is:inline>
    console.log("derde tag");
    console.log("fliep");
    // test voor pushen
    gsap.to("#word", {
        duration: 2,
        morphSVG: "#target",
        repeat: -1,
        yoyo: true,
        ease: "power2.inOut",
    });
</script>
