---
// import the components to reuse
import DetailLayout from "../../layout/DetailLayout.astro"


// export the title
export const title = 'Intra-action';

// the category on which you can filter your item
export const category = "category1";

---

<DetailLayout title={title}>
        
	<!-- detail page content for the glossary item -->
	<p>detail page</p>

	<!-- link script -->
	<script src="/js/index.js" is:inline></script>
</DetailLayout>