---
import DetailLayout from "../../layout/DetailLayout.astro";
import Header from "../../components/Header.astro";
---

<DetailLayout title="About">
    <Header variant="two" title="About" />

    <main class="page">
        <section>
            <div class="block block--header animate-on-scroll is-visible">
                <h2>contact</h2>
            </div>
            <div class="block block--text-large block--text-full animate-on-scroll is-visible">
                <p>
                    Feel free to get in touch regarding research,
                    collaborations, lectures, or other inquiries.
                </p>
                <p><a href="m.ruyg@hva.nl">m.ruyg@hva.nl</a></p>
                <p>Marjolijn Ruyg Amsterdam</p>
            </div>
        </section>
    </main>
</DetailLayout>
