/* =====================================
MARK: general detail page styling
===================================== */




img {
    width: 200px;
}

body {
    perspective: 30rem;
}

#box-wrapper {
    transform-style: preserve-3d;

    display: grid;
    justify-items: center;
    align-items: center;

    /* Source Nienke: https://codepen.io/Nienke-the-styleful/pen/WbGjKKp 
    https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/transform-function/rotate3d */
    transform: rotate3d(5, 10, 0, -30deg);

    

    &> * {
        grid-area: 1/1;
        /* display: block; */
    }

    &:hover {
        animation: rotate 10s infinite;
    }

    & img:nth-child(1) {
        transform: translateZ(100px);
    }

    & img:nth-child(2) {
        transform: translateZ(-100px);
    }

    & img:nth-child(3) {
        transform: rotateY(90deg) translateZ(-100px);
    }

    & img:nth-child(4) {
        transform: rotateY(90deg) translateZ(100px);
    }

      & img:nth-child(5) {
        transform: rotateX(90deg) translateZ(129px);
    }

      & img:nth-child(6) {
        transform: rotateX(90deg) translateZ(-129px);
    }





}


@keyframes rotate {
    from{
        transform: rotateX(0deg) rotateZ(0deg);
    }
    to {
        transform: rotateX(360deg) rotateZ(720deg);
    }
}


