/* body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #000;
    color: #000;
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
} */

.banner-container {
    width: 100%;
    overflow: hidden;
    background: #fff;
    padding: clamp(10px, 2vw, 20px) 0;
    display: flex;
}

.banner-content {
    display: inline-flex;
    animation: scroll-banner 15s linear infinite;
}

.banner-text {
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
    color: #000;
}

.banner-text:nth-child(5n) {
    font-weight: 800;
}

@keyframes scroll-banner {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}


