/* =====================================
MARK: Variables
===================================== */
:root {
    /* ---------- Fonts ---------- */
    --inter-regular: "Inter", Helvetica;
    --inter-italic: "Inter Italic", Helvetica;

    --courier-prime-regular: "Courier Prime Regular", Courier, Monaco;
    --courier-prime-italic: "Courier Prime Italic", Courier, Monaco;
    --courier-prime-bold: "Courier Prime Bold", Courier, Monaco;
    --courier-prime-bold-italic: "Courier Prime Bold Italic", Courier, Monaco;


    /* ---------- Colors ---------- */
    --black: #000;
    --white: #ffffff;
    --grey: grey;

    --color-text: var(--black);
    --color-background: var(--white);
    --color-border: var(--black);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text: var(--white);
        --color-background: var(--black);
        --color-border: var(--white);
    }
}


/* =====================================
MARK: Fonts
===================================== */
/* Inter */
@font-face {
    font-family: "Inter";
    src: url(/public/assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: "Inter Italic";
    src: url(/public/assets/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf);
}

/* Courier */
@font-face {
    font-family: "Courier Prime Regular";
    src: url(/public/assets/fonts/Courier_Prime/CourierPrime-Regular.ttf);
}

@font-face {
    font-family: "Courier Prime Italic";
    src: url(/public/assets/fonts/Courier_Prime/CourierPrime-Italic.ttf);
}

@font-face {
    font-family: "Courier Prime Bold";
    src: url(/public/assets/fonts/Courier_Prime/CourierPrime-Bold.ttf);
}

@font-face {
    font-family: "Courier Prime Bold Italic";
    src: url(/public/assets/fonts/Courier_Prime/CourierPrime-BoldItalic.ttf);
}

/* =====================================
MARK: General Styling
===================================== */
/* ---------- Fonts ---------- */
* {
    font-family: var(--inter-regular);
}

/* ---------- Styling ---------- */
body {
    margin: 0;
}

/* =====================================
MARK: Light & Dark Mode
===================================== */

* {
    color: var(--color-text);

}

body {
    background-color: var(--color-background);
}


/* =====================================
MARK: Visually hidden
===================================== */

.visually-hidden {
    position: absolute;
    overflow: hidden;

    width: 1px; 
    height: 1px; 

    clip: inset(50%); 
    white-space: nowrap;
}

/* =====================================
MARK: Header
===================================== */
/* general header styling */
/* TODO */
.header {

}

/* header on the homepage */
/* TODO */
.header-one {

}

/* header on the glossary item page */
/* TODO */
.header-two {

}

/* =====================================
MARK: Animation
===================================== */
/* General animation styling, like scalability */
.animation-section {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: clip;
}