---
interface Props {
    title?: string;
    slug?: string;
    item?: any;
}

// import the components to reuse
import AnimationHead from "../components/AnimationHead.astro"

const { title, slug } = Astro.props;
---
<!-- ===================================== -->
<!-- MARK: Layout for the detailpage                                                                                   -->
<!-- ===================================== -->
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <!-- link all stylesheets here -->
        <link rel="stylesheet" href="/styles/general.css">
        <link rel="stylesheet" href="/styles/detail-page.css">
        <!-- adds a stylesheet for the specific animation you're working on-->
        <AnimationHead slug={slug} />

        <meta name="viewport" content="width=device-width" />
        <title>{title}</title>

    </head>
    <body>
            <slot />
    </body>
</html>