---
interface Props {
	title?: string;
}

// import the components to reuse
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---
<!-- ===================================== -->
<!-- MARK: Layout for the subpags (about and contact) -->
<!-- ===================================== -->
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <!-- link all stylesheets here -->
        <link rel="stylesheet" href="/styles/general.css">
        <link rel="stylesheet" href="/styles/detail-page.css">

        <meta name="viewport" content="width=device-width" />
        <title>{title}</title>

    </head>
    <body>
        <!-- Main content -->
		<main>
			<slot />
		</main>

        <Footer variant="index"/>

    </body>
</html>